* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  max-width: 120%;
  height: auto;
}

html[light-mode='light'] {
  --bg1-color: white;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --border: 1px solid #ecf0f3;
  --meta-col: #444;
  --head-col: black;
  --tint-col: #ecf0f3;
}

html[light-mode='dark'] {
  --bg1-color: #272727;
  --shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
  --border: none;
  --meta-col: rgb(155, 149, 149);
  --head-col: #fff;
  --tint-col: #ecf0f3be;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*color of education page heading*/

.edu_background {
  color: #4e00bb;
}

/* -----Education Section CSS----- */

@media (max-width: 767px) {
  .dropdown1 {
    position: absolute;
    text-align: center;
    padding-right: 1.2rem;
    z-index: 3;
    padding-left: 3.5%;
  }
  .dropdown2 {
    position: absolute;
    text-align: center;
    padding-top: 10rem;
    padding-left: 3.5%;
    z-index: 3;
  }
  .godown {
    position: absolute;
    z-index: 1;
    padding-top: 8rem;
  }
}

.s2 {
  overflow-x: hidden;
}

.s2 .head {
  font-size: 2rem;
  font-weight: bold;
}

/* SVG animation */

#Girl {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  transform-box: fill-box;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@keyframes swing {
  0% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(-9deg);
  }
}

#Vector_38 {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center 0px;
  transform-box: fill-box;
  float: left;
}

#Vector_39 {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center 0px;
  transform-box: fill-box;
  float: left;
}

#Vector_40 {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  transform-box: fill-box;
  float: left;
}

#leaf12 {
  -webkit-animation: shake-bottom 9s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 9s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}

#leaf13 {
  -webkit-animation: shake-bottom 8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}

#lef14 {
  -webkit-animation: shake-bottom 7.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 7.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}

#leaf15 {
  -webkit-animation: shake-bottom 7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}

#leaf16 {
  -webkit-animation: shake-bottom 6.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 6.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}

#leaf17 {
  animation: shake-bottom 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);

    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* -----Education Timeline CSS----- */

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.timeline {
  position: relative;
  font-weight: bold;
}

/* Draws line */
.timeline::before {
  content: '';
  background: #c5cae9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  /* padding: 0px 30px; */
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

/* This will give the cards to their respective sides */
.timeline-content {
  position: relative;
  width: 45%;
  padding: 50px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  color: black;
  /* align-items: center; */
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 90px;
  height: 90px;
  background-size: 90px;
  background-repeat: no-repeat;
  border-radius: 100%;
  position: absolute;
  left: 48%;
}
.timeline-item:nth-child(even) .timeline-img {
  left: 46%;
}

.timeline-item {
  background-size: cover;
}
.timeline-content li {
  font-weight: normal;
}
.timeline-content h5 {
  margin-bottom: 15px;
}

.date {
  background: #ff4081;
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }

  .timeline-item .timeline-img {
    left: 50px;
  }

  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline-item:nth-child(even) .timeline-img {
    left: 50px;
  }
  .timeline-item:nth-child(even) .timeline-content .date {
    right: 0;
    left: auto;
  }

  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
